BEGIN;
--
-- Create model Comment
--
CREATE TABLE "comments_comment" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_name" varchar(50) NOT NULL, "email" varchar(254) NOT NULL, "home_page" varchar(200) NULL, "text" text NOT NULL, "file" varchar(100) NULL, "created_at" datetime NOT NULL, "parent_id" bigint NULL REFERENCES "comments_comment" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE INDEX "comments_comment_parent_id_3e0802fb" ON "comments_comment" ("parent_id");
COMMIT;
